<footer class="footer">
    <div class="footer-container">
        <div class="footer-column follow-us">
            <h3>Follow Us</h3>
            <!-- Qui i tuoi link ai social media -->
        </div>
        <div class="footer-column links">
            <h3>Links</h3>
            <ul>
                <li><a href="#about">About Us</a></li>
                <!-- Altri link -->
            </ul>
        </div>
        <div class="footer-column contact-us">
            <h3>Contact Us</h3>
            <ul>
                <li>+3457620963</li>
                <li>davidemontalto18@gmail.com</li>
                <li>Via Roma, 18 Cosenza</li>
            </ul>
        </div>
    </div>
</footer>
